<a href="https://colab.research.google.com/github/nirob271/learning-ml-dl-fl/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [3]:
name = "Saiful Islam Nirob"
age = 21
favorite_color = "Blue"
print("Name :",name)
print("Age :",age)
print("Favorite Color :",favorite_color)

Name :  Saiful Islam Nirob
Age :  21
Favorite Color :  Blue

2. Create one variable of each type and use the type() function to verify its type.

In [7]:
name = "Nirob"
age = 21
height = 5.6
num = 1j
ok = True
x = None
a = ["Nirob" , "Mission" , "Rimon"]
b = ("Nirob" , "Mission" , "Rimon")
c = {
    "name" : "Nirob",
    "age" : "21",
    "university" : "Prime University"
}

print(type(name))
print(type(age))
print(type(height))
print(type(num))
print(type(ok))
print(type(x))
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [8]:
length = 7
width = 5
area = length * width
print("Area of a rectangle ", area)

Area of a rectangle  35

4. Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [10]:
list = ["Kacchi Biryani" , "Shorshe Ilish" , "Fuchka" , " Morog Polao" , "Beef Kala Bhuna"]
x = list[0]
y = list[4]
print(x)
print(y)

Kacchi Biryani
Beef Kala Bhuna

5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [12]:
list = [3,2,1,5,4]
list.append(6)
list.remove(1)
list.sort()
print(list)

[2, 3, 4, 5, 6]

6. Create a dictionary about yourself with at least 4 key-value pairs.

In [23]:
dic = {
    "Name" : "Saiful Islam Nirob",
    "Age" : 21,
    "University" : "Prime University",
    "Programme" : "Bsc in CSE"
}
print(dic)

{'Name': 'Saiful Islam Nirob', 'Age': 21, 'University': 'Prime University', 'Programme': 'Bsc in CSE'}

7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [24]:
Coxs_bazar = (21.26, 91.59)
print("Cox's Bazar Beach:", Coxs_bazar)

Cox's Bazar Beach: (21.26, 91.59)

8. Create two sets of colors and find their union and intersection.

In [16]:
s1 = {"Red" , "Blue" , "Green"}
s2 = {"White" , "Black" , "Green" , "Purple"}
res1 = s1 | s2
res2 = s1 & s2
print(res1)
print(res2)

{'Green', 'Black', 'Red', 'Purple', 'Blue', 'White'}
{'Green'}

9. Write a Python function that takes a string as input and prints the first and last character of the string.

In [19]:
def solve(s):
  print(s[0])
  print(s[-1])

name = input("Enter a String: ");
solve(name)

Enter a String: AKif
A
f

10. Write a Python function that takes a string and converts it to uppercase.

In [20]:
def solve(s):
  print(s.upper())

name = input("Enter text: ")
solve(name)

Enter text: Nirob
NIROB