<a href="https://colab.research.google.com/github/nirob271/learning-ml-dl-fl/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a NumPy array with 20 random integers between 1 and 100 and Display the NumPy array

In [13]:
import numpy as np

arr1 = np.array([1,3,2,4,6,5,8,7,0,9,11,15,32,25,87,65,36,25,31,9])
print(arr1)

[ 1  3  2  4  6  5  8  7  0  9 11 15 32 25 87 65 36 25 31  9]

# 1. Find the sum of all elements

In [14]:
sum = np.sum(arr1)
print(sum)

381

# 2. Find the maximum and minimum values in the array

In [15]:
mx = np.max(arr1)
mn = np.min(arr1)
print("Max Number: " , mx)
print("Min Number: " ,mn)

Max Number:  87
Min Number:  0

# Import Pandas

In [16]:
import pandas as pd

# 1. Create a DataFrame with 5 rows and 3 columns of random numbers

In [17]:
random_numbers = np.random.randint(1,101,size=(5,3))
df = pd.DataFrame(random_numbers, columns = ['A', 'B', 'C'])
print(df)

    A   B   C
0  96  54  36
1   9   5  99
2  42  54  26
3  75  77  40
4   3  27  39

# 2. Compute the sum of each column

In [18]:
col_sum = df.sum()

print("Sum of each column:")
print(col_sum)

Sum of each column:
A    225
B    217
C    240
dtype: int64

# 3. Compute the mean of each column

In [19]:
col_mn = df.mean()

print("Mean of each column:")
print(col_mn)

Mean of each column:
A    45.0
B    43.4
C    48.0
dtype: float64